html, html body {
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#canvas canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

/**
 * Fenêtre d'information de debug
 */
#infosDebug {
	width: 200px;
	position: absolute;
	top: 0px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom-right-radius: 10px;
	z-index: 20;
	will-change: transform;
	transform: translate(-240px, 0);
	transition: transform;
	transition-duration: 500ms;
	pointer-events: none;
}

#infosDebug.infosDebug--ouvert {
	transform: translate(0, 0);
}

/**
 * Fenêtre d'information de version
 */
#infosVersion {
	width: 200px;
	height: 200px;
	overflow-y: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom-left-radius: 10px;
	z-index: 20;
	will-change: transform;
	transform: translate(240px, 0);
	transition: transform;
	transition-duration: 500ms;
}

#infosVersion.infosVersion--ouvert {
	transform: translate(0, 0);
}

/**
 * Panneau des moodles d'une créature
 */
#infosCreatureMoodle {
	position: absolute;
	width: 5vh;
	top: 30vh;
	bottom: 30vh;
	right: 50vw;
	margin-right: 15vh;
	will-change: transform;
	transform: translate(-50vw, 0);
	transition: transform;
	transition-duration: 500ms;
	display: grid;
	grid-template-rows: auto;
	pointer-events: none;
}

#infosCreatureMoodle.infosCreatureMoodle--ouvert {
	transform: translate(0, 0);
}

.infosCreature-infosMoodle {
	grid-column: 1;
	grid-row: 1;
	align-self: center;
}

/**
 * Panneau de santé d'une créature
 */
#infosCreatureSante {
	position: absolute;
	top: 62vh;
	left: 50vw;
	margin-left: -12.5vh;
	width: 25vh;
	height: 5vh;
	will-change: transform;
	transform: translate(0, 50vh);
	transition: transform;
	transition-duration: 500ms;
	pointer-events: none;
	background-image: url('images/icones/COEUR_VIDE.png');
	background-size: contain;
}

#infosCreatureSante.infosCreatureSante--ouvert {
	transform: translate(0, 0);
}

.infosCreature-infosSante {
	width: 25vh;
	height: 5vh;
	background-image: url('images/icones/COEUR.png');
	background-size: contain;
}

/**
 * Panneau de l'action considérée par une créature
 */
#infosCreatureAction {
	position: absolute;
	top: 30vh;
	left: 50vw;
	margin-left: -7.5vh;
	width: 15vh;
	height: 5vh;
	will-change: transform;
	transform: translate(0, -50vh);
	transition: transform;
	transition-duration: 500ms;
	font-size: 0;
	pointer-events: none;
}

#infosCreatureAction.infosCreatureAction--ouvert {
	transform: translate(0, 0);
}

/**
 * Panneau des croyances de la créature
 */
#infosCreatureCroyances {
	position: absolute;
	top: 0vh;
	right: 5vw;
	width: 25vh;
	height: 100vh;
	will-change: transform;
	transform: translate(50vw, 0) scale(0.5, 0.5);
	transform-origin: right;
	transition: transform;
	transition-duration: 500ms;
	font-size: 0;
	display: grid;
	pointer-events: none;
}

#infosCreatureCroyances.infosCreatureCroyances--ouvert {
	transform: translate(0, 0) scale(0.6, 0.6);
}

.infosCreature-infosCroyance {
	width: 25vh;
	font-size: 0;
	align-self: center;
}

/**
 * Barre d'outil d'une créature
 */
#toolbarCreature {
	position: absolute;
	bottom: 10px;
	left: 50vw;
	margin-left: -22vh;
	padding: 2vh 2vh 2vh 2vh;
	height: 7vh;
	width: 40vh;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 3vh;
	will-change: transform;
	transform: translate(0, 50vh);
	transition: transform;
	transition-duration: 500ms;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 2vh;
	grid-auto-flow: row;
}

#toolbarCreature.toolbarCreature--ouvert {
	transform: translate(0, 0);
}

.toolbarCreature-bouton {
	display: none;
	border: none;
	border-radius: 5px;
	background: #000000;
	color: #FFFFFF;
	height: 7vh;
	padding: 5px;
}

.toolbarCreature-bouton.toolbarCreature-bouton--actif {
	display: block;
	align-self: center;
}